<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloworldExample from "./components/HelloworldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent></SimpleComponent>
    <FormBindings></FormBindings>
    <br /><br />
    <ConditionsAndLoops></ConditionsAndLoops>
    <br />
    <br />
    <AttributeBindings></AttributeBindings>
    <HandlingUserInput></HandlingUserInput>
    <CalComponent></CalComponent>
    <HelloworldExample></HelloworldExample>
  </div>
</template>

<style scoped></style>
